@import './common/vars.sass'
@import './common/gem.scss'

*
    box-sizing: border-box

html, body
    width: 100%

body,
main
    overflow-x: hidden

body
    display: flex
    flex-direction: column
    font-family: var(--main-font)
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-rendering: optimizeLegibility
    &.mobile-menu-open
        overflow: hidden
    &.modal-active
        overflow: hidden

main
    position: relative
    width: 100%
    flex: 1 0 auto

.footer
    width: 100%
    flex: 0 0 auto

a
    text-decoration: none
    outline: none

img
    max-width: 100%
    height: auto

section
    position: relative
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    // visibility: hidden

.fluid-container
    width: 100%
    position: relative

.container
    position: relative
    width: var(--container-width)
    min-width: var(--container-width)
    margin: 0 auto

.row
    display: flex
    flex-direction: row

.row-reverse
    display: flex
    flex-direction: row-reverse

.column
    display: flex
    flex-direction: column

.column-reverse
    display: flex
    flex-direction: column-reverse

.s-visible,
.xs-visible,
.xxs-visible
    display: none

.lazy
    opacity: 0
    transition: opacity 0.3s ease
    &Loaded
         opacity: 1
.opacity_none
    opacity: 0
input , textarea
    &::-webkit-input-placeholder,
    &::placeholder
        transition: all .3s
    &:focus
        &::-webkit-input-placeholder,
        &::placeholder
            color: transparent

button[type='submit']
    cursor: pointer

@media only screen and (max-width : 1024px)
    .s-hidden
        display: none

    .s-visible
        display: block

@media only screen and (max-width : 480px)

    body
        &.modal-active
            position: fixed

    .xxs-visible
        display: block

    .xxs-hidden
        display: none



//start here!
header
    background: url(../img/main_screen_bg.JPG)
    height: 100vh
    background-size: cover
    width: 100%
    .top_line
        display: flex
        flex-direction: row
        justify-content: space-around
        align-items: center
        padding: gem(20) gem(50)
        .menu-desc
            display: flex
            a
                font-size: gem(20)
                line-height: 1.1
                color: #fff
                margin: 0 gem(50)
                &:hover
                    text-decoration: underline
        .get_contacts
            display: flex
            flex-direction: column
            align-items: flex-end
            a
                font-size: gem(25)
                line-height: 1.1
                font-family: "PalatinoLinotype-Bold"
                color: #f7c266
                margin: gem(10) gem(10)
            .message
                display: flex
    .top_line_gradient
        .gradient_first
            width: 100%
            background-image: linear-gradient(to right,#141313,#eba34b 50%,#141313)
            height: 2px
        .gradient_two
            background-image: linear-gradient(to right,#141313,#805c30 50%,#141313)
            width: 100%
            height: 2px
            margin-top: gem(5)
    .main_part
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        padding: 0 gem(50)
        margin-top: gem(100)
        h1
            font-size: gem(60)
            color: #fff
            line-height: 1.1
            font-family: "lora_bold"
            span
                color: #edbc67
        &-left
            p
                color: #fff
                font-size: gem(24)
                margin-top: gem(50)
                line-height: 1.4
            .button
                font-size: gem(20)
                width: gem(400)
                color: #fff
                height: gem(100)
                background: url(../img/how_button_bg.PNG)
                padding: gem(20) gem(50)
                background-size: 100% 100%
                &:hover
                    background-image: linear-gradient(to right,#be965d,#916c3e 33%,#f7c480 66%,#9c7444)
                    border-radius: 5px
        &-right
            img
                width: gem(700)
                    
        